<div class="row">
    <div class="col-md-10">
        <h5 class="fw-bold"> جميع جهات الاتصال </h5>
        <% if @contacts.any? %>

            <table class="table table-bordered table-sm table-hover">
                <thead class="bg-prime text-white">
                    <th> الاسم </th>
                    <th> الايميل </th>
                </thead>

                <tbody>
                    <% @contacts.each do |contact| %>
                        <tr>
                            <td> <b> <%= contact.name %> </b> </td>
                        
                            <td> <b> <%= contact.email %> </b> </td>
                        </tr>
                    <% end %>
                </tbody>

                <tfoot>
                   <tr class="bg-prime-var2 text-white fw-bold"> 
                        <td colspan=6>
                            عدد جهات الاتصال 
                            <%= @contacts.count %>
                            جهه
                             
                        </td>
                   </tr>
                </tfoot>
            </table>

        <% else %>

            <p class="fw-bold text-muted">
                لا يوجد جهات اتصال بعد .. يمكنك البدأ 
                <%= link_to 'باضافه جهه', new_contact_path %>
            </p>

        <% end %>
    </div>

    <div class="col">
        <div class="d-grid gap-2">
            <%= link_to 'انشاء جهه اتصال', new_contact_path, class: 'btn btn-outline-primary fw-bold' %>
            <%= link_to 'ارسال ايميل', mail_path, class: 'btn btn-outline-primary fw-bold'%>
        </div>
    </div>
</div>